#display-image{
    width: 400px;
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}
  
.item {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.dragging{
  width: 450px;
  height: 450px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 30px;
  border: 1px solid black;
}

.dropping {
  position: absolute;
  bottom: 10px;
  left: 20px;
}